#navBtn{
	margin-left: -0px;
	width: 50px;
	height: 50px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	}

#navBtnImg{
	padding-top:8px;
}

#read-nav{
	left:-7%;
	width: 100px;
	height: 100%;
	background-color: black;
	display: block;
	z-index:1000;
	text-align: center;
	position: fixed;
	color: white;
	font-size: 14px;
	font-weight: bold;
	padding-top: 20px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.read-nav-a{
	margin-left: 10px;
	margin-right: 10px;
}
/*
#read-title{
	color: #ABB7B7;
	margin-left: 20%;
	padding-top: 10px;
}

#read-title-title{
	font-size: 120%;
	font-family: bold;
}

#read-title-author{
	font-size: 90%;
	line-height:120%;
}*/

#read-text{
	width: 75%;
	height: 650px;
	margin: 0 auto;
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
	-moz-column-count: 2; /* Firefox */
	column-count: 2;
}

#read-text p{
	margin-bottom:20px;
}

.word-link{
	color:black;
	text-decoration: underline;
}

#read-nav.open{
	left: 0px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#navBtn.open{
	margin-left: 100px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#pageNumber p {
	font-family: Bold;
	font-size: 20px;
	float: right;
	margin-right: 4%;
}

#popInst.open{
	display: inline-block;
	padding: 20px;
	width: 400px;
	height: 380px;
	color: white;
	background-color: black;
	position: fixed;
	top: 25%;
	left: 35%;
}

#popInstExit{
	padding-top: -5px;
}

#popInst{
	display: none;
}
