
#read-nav{
	width: 150px;
	height: 30px;
	background-color: red;
	display: block;
}

#read-nav-a{
	padding: 0 10px;
}

#read-title{
	position: fixed;
	padding: 10px; 
	color: #6C7A89;
	width: 150px;
}

#read-title-title{
	font-family: Bold;
	font-size: 100%;
}

#read-title-author{
	font-size: 80%;
	line-height:120%;
}

#read-text{
	background-color: yellow;
	overflow: scroll;
	margin-left: 150px;
}