html {
	 vertical-align: baseline;
	 -webkit-font-smoothing: antialiased;
	 font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	 font-weight: normal;
	 background:rgb(253, 253, 253);
	 overflow-y: scroll;
	 overflow-x: hidden;
	 line-height: 16.2pt;
	 font-size: 12pt;
}

/*Gerais*/
::-webkit-input-placeholder { /* WebKit browsers */
    color: #7f8c8d;
    font-family: inherit !important;
	font-size: 14pt;
	-webkit-font-smoothing: subpixel-antialiased;

	vertical-align: text-bottom;
	
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #7f8c8d;
    opacity: 1;
    font-family: inherit !important;
	font-size: 14pt;
	vertical-align: text-bottom;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #7f8c8d;
    opacity: 1;
    font-family: inherit!important;
	font-size: 14pt;
	line-height: 200%;
	vertical-align: text-bottom;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #7f8c8d;
    font-family: inherit!important;
	font-size: 14pt;
	vertical-align: text-bottom;
	
}

.link:hover {
	color: #7f8c8d !important;
	cursor: pointer;
	font-family: inherit!important;
} 

.link {
	color:black  !important;
	cursor: pointer;
	font-family: inherit!important;
}

.button {
	font-size: 12pt;
	position: relative;
	vertical-align: top;
	margin-top: 30px;
	background: black;
	color: white;
	padding: 10px;
	cursor: pointer;
	 
	border-right: 2px solid #7f8c8d;
	-webkit-box-shadow: inset 0 -2px #7f8c8d;
	box-shadow: inset 0 -2px #7f8c8d;
	
}
.button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: none;
   border-right: none;
  
}
/*swatch*/
.swatch-grey {
	color: #7f8c8d;
}

.swatch-red {
	color: #e74c3c;
}

.swatch-red::-webkit-input-placeholder {
	color: #e74c3c;
}

.error {
	border-bottom: 2pt solid  #e74c3c !important;
}

.error::-webkit-input-placeholder {
	color: #e74c3c;
}
 

@media screen and (min-width: 630px){ 
	.header {
		padding-top: 10px;
		background: rgb(253, 253, 253);
		width: 95%;
		height: 40px;
		margin:auto;
		
	}

	.h-user {
		height: 50px;
		background: blue;
	}
	.element-header {
		width: auto;
		float: left;
		position: relative;
		display: inline-block;
		/*problema*/
		margin-right: 3%;
		vertical-align: baseline;
		
		
	}
	.element-header > img {
		margin-right: 10px;
	}
	.big-text {
		font-size: 24pt;
		font-weight: bold;
	}
	
	.search {
	 	margin-top:10px;
		vertical-align: text-bottom;
		color:black;
		font-weight: bold;
		font-size: 14pt;
		/*padding-right: 10px;*/
		/* border-bottom: 1pt solid #7f8c8d;*/
		
	}
	#leftovers {
		background: blue;
		right: 0px !important;
	}
	
	.center-form {
		width: calc(50% - 250px);
		margin: auto;
		position: relative;
		top: 100px;
		
	}
	
	.login {
		color:black;
		height: 60px;
		margin: auto;
		font-size: 24pt;
		font-weight: bold;
		border-bottom: 2pt solid #7f8c8d;
		width: 500px;
		margin-top: 30px;
	}
	/*probl */
	.login::-webkit-input-placeholder {
		font-size: 24pt;
	}
	
	.big-text::-webkit-input-placeholder{
		font-size: 24pt;
	}
	
	.big-input {
		margin-top:50pt;
		
	}
	
	#input-click:hover {
		color:red;
	}
	.selCategory {
		
	}
	#categorySel {
		background: rgba(253,253,253,0.3);
		position: fixed;
		top:150px;
		font-size: 36pt;
		display: none;
	}
	
	#loading {
		display: none;
	} 
	
	#newBookPT1 {
		display:none;
	
	}
	#newBookPT2 {
		/*display: none;*/
		vertical-align: top;
	}
	/*diagrama de criação de livro*/
		#lateral-bar {
	
			width: 3%;
			display: inline-block;
			height: 700px;
		}
		#diagram {
			display: inline-block;
			width: 93%;
			height: 600px;
			background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABJJREFUCB1jYGBg+A/ExAHsKgFV7gH/ssPq5wAAAABJRU5ErkJggg==) repeat;
			float:right;
		}
		
		#lateral-bar, #diagram {
			vertical-align: top;
		}
		
		#new-page-interface, #change-page-interface {
			display: none;
			position: fixed;
			top: calc( 50% - 125px);
			height: 250px;
			left: calc(50% - 300px);
			width: 600px;
			margin:auto;
			background: rgb(253,253,253);
			border: 2pt solid rgb(189, 195, 199);
			
			
		}
		
		#cabecalho {
			background: rgba(189,195,199,1);
			 color: rgb(253,253,253);
			 height: 20px;
			 font-weight: bold;
		}
		#baixo, #change {
			background: rgba(189,195,199,1);
			width: 100px;
			color: rgb(253,253,253);
			font-weight: bold;
			margin-left: 20px;
			/*background: rgba(189,195,199,1);
			 color: rgb(253,253,253);
			 height: 20px;
			 font-weight: bold;
			 top: calc( 50% - 500px);*/
		}
		.lateral-bar-element {
			cursor: pointer;
			
		}
		
		#write-text textarea  {
			height: 140px;
			width: 560px;
			margin-left: 20px;
			margin-top: 20px;
			
			font-size: 12pt;
		}
		
		
}


