/*FONTS*/
@font-face {
  font-family: 'MyMonoFont';
  src: url('fonts/AKKURAT-Mono.woff') format('woff2'), /* Super Modern Browsers */

}

/*FONTS*/
@font-face {
  font-family: 'MyBoldFont';
  src: url('fonts/AkkuratPro-Bold.woff') format('woff2'), /* Super Modern Browsers */

}

@font-face
{
  font-family: Roboto;
  src: url('../fonts/Roboto-Black.ttf');
}
@font-face
{
  font-family: Roboto-r;
  src: url('../fonts/Roboto-Regular.ttf');
}

html {
	 -webkit-font-smoothing: antialiased;
	 font-weight: normal;
	 background:rgb(253, 253, 253);
	 overflow-y: scroll;
	 overflow-x: hidden;
	 line-height: 16.2pt;
	 font-size: 12pt;
}
body{
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.edit {
	color:blue;
}


/*Gerais*/
::-webkit-input-placeholder { /* WebKit browsers */
    color: #7f8c8d;
    font-family: inherit !important;
	-webkit-font-smoothing: subpixel-antialiased;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #7f8c8d;
    opacity: 1;
    font-family: inherit !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #7f8c8d;
    opacity: 1;
    font-family: inherit!important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #7f8c8d;
    font-family: inherit!important;
}

.button {
	font-size: 12pt;
	position: relative;
	vertical-align: top;
	margin-top: 30px;
	background: black;
	color: white;
	padding: 10px;
	cursor: pointer;

	border-right: 2px solid #7f8c8d;
	-webkit-box-shadow: inset 0 -2px #7f8c8d;
	box-shadow: inset 0 -2px #7f8c8d;

}
.button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: none;
   border-right: none;
}


/*swatch*/
.swatch-grey {
	color: #7f8c8d;
}

.swatch-red {
	color: #e74c3c;
}

.swatch-black {
	color: black;
}
.swatch-red::-webkit-input-placeholder {
	color: #e74c3c;
}

.error {
	border-bottom: 2pt solid  #e74c3c !important;
}

.error::-webkit-input-placeholder {
	color: #e74c3c;
}

a, a:visited, a:active {
	color: black;
}

a:hover {
	color: #7f8c8d;
}

@media screen and (min-width: 630px){
	#header {
		padding: 20px;
		background: rgb(249, 249, 249);
		width: 100%;
		height: 140px;
		margin:auto;
    border-bottom: 1px solid rgb(238, 238, 238);
    font-family: Roboto;
    color: rgb(190,190,190);
	}
	.element-header {
		width: 17%;
    height:100%;
		float: left;
		margin-right: 3%;
    font-size:20px !important;
    line-height:170%;
    cursor: default !important;
	}
  .element-header-2{
    width:25% !important;
  }
  .inside-element{
    cursor: pointer !important;
  }
  #dont{
    font-family:Roboto-r !important;
  }

	.search {
    width: 50%;
    font-size:20px !important;
    border-bottom: 1px solid grey;
    float:left;
    font-family: Regular;
    line-height:170%;
    color: black !important;
  }
.search::-webkit-input-placeholder { /* WebKit browsers */
  color: rgb(190,190,190);
  font-family: Roboto !important;
  font-size: 20px;
}
.search:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: rgb(190,190,190);
  opacity: 1;
  font-size: 20px;
  font-family: Roboto !important;
}
.search::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: rgb(190,190,190);
  opacity: 1;
  font-size: 20px;
  font-family: Roboto !important;
}
.search:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: rgb(190,190,190);
  font-size: 20px;
  font-family: Roboto !important;
}

.form-text::-webkit-input-placeholder { /* WebKit browsers */
  color: rgb(190,190,190);
  font-family: Roboto !important;
  font-size: 24px;
}
.form-text:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: rgb(190,190,190);
  opacity: 1;
  font-size: 24px;
  font-family: Roboto !important;
}
.form-text::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: rgb(190,190,190);
  opacity: 1;
  font-size: 24px;
  font-family: Roboto !important;
}
.form-text:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: rgb(190,190,190);
  font-size: 24px;
  font-family: Roboto !important;
}

  .form-text{
    font-size:24px !important;
    border-bottom: 1px solid grey;
    font-family: Regular;
    line-height:170%;
    color: black !important;
    height: 40px;
  }
  .form-password, .form-submit, .form-mail{
    margin-top:40px;
  }
  .form-submit{
    background:black;
    color: white;
    font-size: 24px;
    font-family: Roboto !important;
    padding:10px !important;
    cursor:pointer;
  }
	.signup-form {
		width: 30%;
    margin-left:15%;
    margin-top:50px;
    float:left;
	}
  .about-text {
    float:left;
    width: 30%;
    margin-left:10%;
    margin-top:50px;
    font-family: Regular;
    font-size: 18px;
    line-height:140%;
  }






	.big-text::-webkit-input-placeholder{
		font-size: 24pt;
	}

	.big-input {
		margin-top:50pt;
	}

	#input-click:hover {
		color:red;
	}
	.selCategory {

	}
	#categorySel {
		background: rgba(253,253,253,0.3);
		position: fixed;
		top:150px;
		font-size: 36pt;
		display: none;
	}

	#loading {
		width: 300px;
		height: 300px;
		margin: auto;

	}

	#newBookPT1 {
		display:none;


	}
	#newBookPT2 {
		display: none;
		vertical-align: top;
		height: 500px !important;
	}
	/*diagrama de criação de livro*/
		#lateral-bar {

			width: 3%;
			display: inline-block;
			height: 700px;
			margin-left: 50px;
			position: relative;
			top: 50px;

		}
		#diagram {
			display: inline-block;
			width: 85%;
			top:50px;

			margin-right: 50px;
			position: relative;
			height: 500px;
			background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABJJREFUCB1jYGBg+A/ExAHsKgFV7gH/ssPq5wAAAABJRU5ErkJggg==) repeat;
			float:right;
		}

		#lateral-bar, #diagram {
			vertical-align: top;
		}

		#new-page-interface, #change-page-interface {
			display: none;
			position: fixed;
			top: calc( 50% - 125px);
			height: 250px;
			left: calc(50% - 300px);
			width: 600px;
			margin:auto;
			background: rgb(253,253,253);
			border: 2pt solid rgb(189, 195, 199);


		}

		#cabecalho {
			background: rgba(189,195,199,1);
			 color: rgb(253,253,253);
			 height: 20px;
			 font-weight: bold;
		}
		#baixo, #change {
			background: rgba(189,195,199,1);
			width: 100px;
			color: rgb(253,253,253);
			font-weight: bold;
			margin-left: 20px;
			/*background: rgba(189,195,199,1);
			 color: rgb(253,253,253);
			 height: 20px;
			 font-weight: bold;
			 top: calc( 50% - 500px);*/
		}
		.lateral-bar-element {
			cursor: pointer;
			margin-left: 20px;
			margin-right: 20px;

		}

		#write-text textarea  {
			height: 140px;
			width: 560px;
			margin-left: 20px;
			margin-top: 20px;

			font-size: 12pt;
		}

		/*publish a book — parte 2*/
		.center-hor {
			width: 500px;
			position: relative;
			left: calc(50% - 250px);

		}
		.center-ver {
			position: relative;
			height: auto;
		}
		.top-space {
			margin-top: 10px;
		}

		#insertinfo {
			display: none;
		}
		#newPage-interface {
			display: none;
			position: fixed;
			z-index: 10;
			top:0px;
			left: 0px;
			background: rgb(255,255,255);
			width: 100%;
			height: 100%;
			overflow-y: hidden;
			overflow-x: hidden;
		}

		#newPage-interface > div {
			margin-left: calc(100% / 12);
			margin-right: calc(100% / 12);
		}

		#newPageName {
			width: 30%;
			border-bottom: 2pt solid black;
			text-transform: capitalize;
		}

		.counteudo {
			margin-left: calc(100% / 12);

		}

		.counteudo{
			cursor: pointer !important;
		}

		#c-textbox {
			display: none;
		}
		#c-textbox:focus {
			outline: none !important;
			border:2px solid #7f8c8d;
		}

		#c-textbox {
			width: 83%;
			height: 50%;

		}

		#savePage, #ChangePage {
			margin-left: calc(100% / 12);
		}

		#ChangePage {
			display: none;
		}
		/*pop up de coneção*/
		#pop-conect {
			width: 450px;
			height: 200px;
			background: white;
			position:fixed;
			top: calc(50% - 100px);
			left: calc(50% - 225px);
			border: 1pt solid black;
			z-index: 15;
			display:none;
		}
		#closePP img {
			float: right;
			height: 30px;

			vertical-align: top;
			margin-right: 10px;
			margin-top: 10px;
			top:0;
		}
		#closePP img:hover {
			width:32px;
		}
		/*LIXO*/
		#page-list {
			/*position: absolute;
			 margin-left: calc(50% - 225px);
			 margin-top: calc (20% - 15px);
			 background: blue;

			 width: 150px;*/
		}
		#page-list select {
				-webkit-appearance: none;
			   -moz-appearance: none;
			   width: 150px;
			   height: 30px;
			    overflow: hidden;
			    text-align: center;
			    font: 16pt;
			    font-family: 'Akkurat-Mono';
			    border-bottom: 1pt solid black;


		}
}



/*font sizes*/
h1 {
	font-size: 42pt;
	font-family: 'AkkuratPro-Bold';
	line-height: 54.6pt;
}

.normal-size {
	font-family: 'Akkurat-Mono';
	font-size: 16pt;
	line-height: 20.8pt;

}

.h1-size {
	font-size: 24pt;
	font-family: 'AkkuratPro-Bold';
	line-height: 54.6pt;
}

.margin-b {
	border-bottom: 1pt solid black;

}

.h1-size::-webkit-input-placeholder {
	font-size: 24pt;
	font-family: 'AkkuratPro-Bold';
	line-height: 54.6pt;
	color:#7f8c8d;
}

.marginTop {
	margin-top: 50px;
}

.closeP {
	float: right;
	margin-right: calc(100% / 12);
	margin-top:50px;
	cursor: pointer;
}

.closeP:hover {
	width: 35px;
}



.selected{
	font-weight: 700;
}


ul li {
  font-family: Roboto;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  border-bottom: : 1pt solid black;
}
ul li:hover {
	color: #7f8c8d;
}
ul li ul {
background: white;
  padding: 0;
  position: absolute;
  top: 48px;
  left: -2px;
  width: 170px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;

}
ul li ul li {
  display: block;
  color: #7f8c8d;
}
ul li ul li:hover { background: #7f8c8d;  color:white !important;}
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}


.rotate {
	  -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
