html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
label,
select,
button,
textarea
{
  margin:0;
  border:0;
  padding:0;
  display:inline-block;
  vertical-align:middle;
  white-space:normal;
  background:none;
  line-height:1;
  /* Browsers have different default form fonts */
  font-size:13px;
  font-family:Arial;
}

/* Remove the stupid outer glow in Webkit */
input:focus
{
  outline:0;
}

/* Box Sizing Reset
-----------------------------------------------*/

/* All of our custom controls should be what we expect them to be */
input,
textarea
{
  -webkit-box-sizing:content-box;
  -moz-box-sizing:content-box;
  box-sizing:content-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select
{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

/* Text Inputs
-----------------------------------------------*/

input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week]
{
}

/* Button Controls
-----------------------------------------------*/

input[type=checkbox],
input[type=radio]
{
  width:13px;
  height:13px;
}

/* File Uploads
-----------------------------------------------*/

input[type=file]
{

}

/* Search Input
-----------------------------------------------*/

/* Make webkit render the search input like a normal text field */
input[type=search]
{
  -webkit-appearance:textfield;
  -webkit-box-sizing:content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration
{
  display:none;
}

/* Buttons
-----------------------------------------------*/

button,
input[type="reset"],
input[type="button"],
input[type="submit"]
{
  /* Fix IE7 display bug */
  overflow:visible;
  width:auto;
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button
{
  padding:0;
  border:0;
  background:none;
}

/* Textarea
-----------------------------------------------*/

textarea
{
  /* Move the label to the top */
  vertical-align:top;
  /* Turn off scroll bars in IE unless needed */
  overflow:auto;
}

/* Selects
-----------------------------------------------*/

select
{

}

select[multiple]
{
  /* Move the label to the top */
  vertical-align:top;
}
/*-----CSS RESET------------------------------------------------------------------------*/

body{
  height:100%;
  width:100%;
  overflow:hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face
{
  font-family: Regular;
  src: url('../fonts/GenBasR.ttf');
}
@font-face
{
  font-family: Bold;
  src: url('../fonts/GenBasB.ttf');
}
@font-face
{
  font-family: Italic;
  src: url('../fonts/GenBasI.ttf');
}

b{
  font-weight:normal;
  font-family:Bold;
}





#container{
  margin:auto;
  width:100%;
  height:200px;
}
/* BOOKS---------------------*/
#books-container{
  width:60%;
  height:1000px;
  float: left;
  margin-right:2%;
  margin-left:10%;
}
.book{
  width: 150px;
  height:200px;
  background:grey;
  float: left;
  margin-right: 10px;
  cursor:pointer;
  overflow:hidden;
  margin-top:20px;
}
.pictogram{
  width: 35px;
  height: 35px;
  background: rgb(253, 253, 253);
  position:absolute;
  z-index:10;
  overflow:hidden;
  display:block;
}
.img-insider{
  top: 0;
  left:0;
  width:100%;
  background: transparent;
}
.img-book{
  top: 0px;
  left: 0px;
  width:100%;
  background: transparent;
}
/* FEED---------------------*/
#feed{
  width:28%;
  height:1000px;
  float: left;
  background:rgb(243, 243, 243);
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border-left: 1px solid rgb(223, 223, 223);
}
#feed-title{
  font-size: 20px;
  font-family: Roboto;
  width: 90%;
  margin:auto;
  margin-top:20px;
  text-align: left;
  color: rgb(193, 193, 193);
  margin-bottom:30px !important;
}
.news{
  margin:auto;
  margin-top: 25px;
  width:90%;
  text-align:left;
  line-height: 120%;
  font-size: 16px;
  font-family: Regular;
  border-bottom: 1px solid rgb(223, 223, 223);
  cursor: pointer;
  color: rgb(116, 116, 116);
}
/* FILTER---------------------*/
#filter{
  width:28%;
  height:1000px;
  float: left;
  background:rgb(243, 243, 243);
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border-left: 1px solid rgb(223, 223, 223);
}

.filter-title{
  font-size: 18px;
  font-family: Roboto;
  margin:auto;
  text-align: left;
  color: rgb(193, 193, 193) !important;
}
.filters{
  height:180px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  border-bottom: 1px solid rgb(223, 223, 223);
  color: rgb(136, 136, 136);
}
.filters2{
  height:300px !important;
}
.filters3{
  height:150px !important;
}
/* FOOTER---------------------*/
#footer{
  position:fixed;
  bottom:0px;
  background: black;
  width:100%;
  height:60px;
  color:white;
  font-size: 16px;
  font-family: Regular;
}
.legend{
  color: white;
  height: 50px;
  float: left;
  margin-right: 10px;
}
.legend-message{
  float:left;
  height:20px;
  margin-top: 15px;
}
.pictogram2{
  margin-left: 15px;
  margin-top: 15px;
  width: 25px !important;
  height: 25px !important;
  float: left;
  margin-right: 5px;
  position: relative !important;
}
/* PREVIEW---------------------*/
#book-preview{
  width: 300px;
  height:400px;
  margin-top:10px;
  float: left;
  margin-right: 10px;
  cursor:pointer;
  overflow: hidden;
}
#interaction{
  width: 300px;
  height:400px;
  margin-top:10px;
  float: left;
  margin-right: 10px;
  cursor:pointer;
  overflow: hidden;
  border: 1px dashed black;
}
#interaction-author{
  padding-top: 20px;
  width: 95%;
  margin: auto;
  text-align: left;
  font-size: 16px;
  color: black;
  font-family: Bold;
  line-height: 120%;
}
#interaction-text{
  padding-top: 20px;
  width: 95%;
  margin: auto;
  text-align: left;
  font-size: 16px;
  color: black;
  font-family: Regular;
  line-height: 120%;
}
#links{
  margin-left: 20px;
  float:left;
}
#read{
  margin-top:300px;
}
.link{
  cursor: pointer;
  font-family: Bold;
  font-size: 20px;
  margin-top: 20px;
}
.preview-links{
  display:none;
  margin:auto;
  width:75%;
  margin-top:30px;
}
.comment-author{
  margin-bottom:10px;
  font-family: Bold;
  font-size:14px;
}
.comment-text{
  font-family: Regular;
  font-size:16px;
  line-height:120%;
}
.comment{
  width:40%;
  margin-bottom: 40px;
}
.close{
  cursor:pointer;
  float:right;
  font-family:Bold;
  font-size:16px;
}
/* CREATE-REVIEW---------------------*/
.review-textarea{
  font-family: Regular;
  font-size: 16px;
  padding: 10px;
  width: 500px;
  height: 300px;
  resize: none;
  border: 1px dashed black;
  float: left;
  margin-right: 30px;
}
#classification-form{
  float:left;
}
#input-review{
  border: 1px dashed black;
  height: 30px;
  padding: 5px;
  width: 70px;
}
#input-review-submit{
  background:rgba(230,230,230, 0.8);
  color: black;
  padding:10px;
  text-align:center;
  font-family:Bold;
  font-size:20px;
  cursor:pointer;
  margin-left: 10px;
}
/* HEADER---------------------*/
.element-header{
  cursor:pointer;
}
/* HEADER---------------------*/
#search-message{
  font-family:Bold;
  font-size:24px;
  margin-bottom:30px;
}







/*--------------------HACKS */


textarea.review-textarea::-webkit-input-placeholder { /* WebKit browsers */
  color:grey;
  opacity: 0.8;
  font-family: Regular;
  font-size: 16px;
  padding-top: -20px;
}
textarea.review-textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:grey;
  opacity: 0.8;
  font-family: Regular;
  font-size: 16px;
  padding-top: -20px;
}
textarea.review-textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:grey;
  opacity: 0.8;
  font-family: Regular;
  font-size: 16px;
  padding-top: -20px;
}
textarea.review-textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:grey;
  opacity: 0.8;
  font-family: Regular;
  font-size: 16px;
  padding-top: -20px;
}
















label {
  text-decoration: none;
  [;-webkit-text-stroke-width: 0.8px;];
  -webkit-font-smoothing: subpixel-antialiased;
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  font-weight:normal;
  pointer-events:visible !important;
  margin-top: 15px;
  font-family: Regular;
  font-size: 16px;
  color: rgb(143,143,143);
}
input[type=checkbox] {
  display: none;
}
label:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  position: absolute;
  margin-top: 3px;
  left: 10px;
  border: 1px solid rgb(193, 193, 193);
  border-radius: 8px;
}
input[type=checkbox]:checked + label:before {
  background-color: rgb(193, 193, 193);
}
